<div class="row">
  <div class="col-md-9">
    <%= react_component('Question', question: @question) %>
  </div>
  <div class="col-md-3" style="margin-top: 40px">
    <%= react_component('HotQuestionsList', questions: @questions) %>
  </div>
</div>

